/******************** Global Styles ********************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Consistent Padding Across All Sections */
.container-fluid {
    padding-left: 150px;  
    padding-right: 150px; 
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
}




/******************** Banner Section ********************/
.banner-section {
    position: relative;
}
.index-banner {
    background: url('../images/home-banner.png') no-repeat center center/cover;
    height: 800px; 
}

.about-banner {
    background: url('../images/shake-hands-img.jpg') no-repeat center center/cover;
    height: 500px; 
}

.contact-banner {
    background: url('../images/meeting-img.jpg') no-repeat center center/cover;
    background-position: top center;
    height: 500px; 
}

/* Semi-transparent Overlay */
.overlay {
    position: absolute;
    top: 90px; /* Overlay just below the navbar */
    left: 0;
    right: 0;
    height: calc(100% - 90px); /* Fills the remaining space below the navbar */
    background-color: rgba(21, 50, 90, 0.8);
    z-index: 0; /* Overlay is below the text */
}

.banner-content {
    position: absolute;
    z-index: 2; /* Text is above the overlay */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    width: 80%;
}

.banner-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 15px;
}

.index-banner-content {
    position: absolute;
    z-index: 2; /* Text is above the overlay */
    top: 40%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: #ffffff;
    width: 80%;
    padding-left: 150px;
}

.index-banner-content .highlight {
    color: #D8C26C;
}

.index-banner-content .banner-cta-btn {
    background-color: #d8c26c;
    font-weight: 500;
    color: #15325A;
    border: none;
    border-radius: 4px; 
    padding: 10px 60px; 
    font-size: 20px; 
    cursor: pointer; 
    margin-top: 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.index-banner-content .banner-cta-btn:hover,
.index-banner-content .banner-cta-btn:active {
    background-color: white; 
    color: #15325A; 
    
}



/******************** Navbar Styles ********************/
.custom-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 15px 0;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-index {
    background-color: transparent;
}

.navbar-sub {
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(21, 50, 90, 0.65);
}

/* Background color for scrolled navbar */
.navbar-scrolled {
    position: fixed;
    top: 0;
    background-color: #15325A !important; 
    border-bottom: none !important;
    width: 100%;
    z-index: 999;
}

.custom-navbar .navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.custom-navbar .nav-link {
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.05em;
    padding: 8px 0;  
    margin-right: 20px;
    text-align: center;
    width: 100px; /* Fixed width for all links */
    position: relative;
    border-radius: 4px;
    
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link:focus {
    background-color: #ffffff;
    color: rgba(21, 50, 90, 1);
    border-radius: 4px;
}

/* Remove extra margin for the last link to align with the right edge */
.custom-navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}




/******************** Home Page ********************/







/******************** About Page ********************/
/* First About Section */
.about-content-section {
    padding: 100px 0;
}

.about-content-section .subheading {
    font-size: 16px;
    letter-spacing: 0.18em; /* 18% of font size */
    font-weight: 500;
    color: #15325A;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.3;
}

.section-paragraph {
    font-size: 16px;
    line-height: 1.8;
}

.section-header-one {
    width: 80%;
    color: #3b3b3b;
}

.section-paragraph-one {
    color: #3b3b3b;
    max-width: 85%;
    margin-bottom: 40px;
}

.about-img {
    width: 100%;
    height: 436px;
    object-fit: cover; 
}

.about-position-relative {
    position: relative;
}

.experience-circle {
    position: absolute;
    bottom: 20px;
    left: -50px; 
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Drop shadow */
}

.years-text {
    font-size: 48px;
    font-weight: 700;
    color: #15325A;
    margin: 0;
}

.years-subtext {
    font-size: 14px;
    color: #15325A;
    font-weight: 400;
    text-align: center;
    padding-bottom: 4px;
}

/* Second About Section */
.beyond-numbers-section {
    position: relative;
    background: url('../images/cropped-skyscraper-img.png') no-repeat center center/cover;
    height: 500px; 
    width: 100%;
}

.overlay-half {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Cover half of the image */
    height: 100%;
    background-color: rgba(21, 50, 90, 0.9); 
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.overlay-content {
    padding-left: 80px; 
    padding-right: 200px;
    color: #ffffff;
    text-align: left;
    z-index: 2; /* Text is above the overlay */
}

.section-header-two {
    color: #ffffff;
}

/* Mission Vision Section */
.mission-vision-section {
    padding: 100px 0;
}

.mission-vision-row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.box-style {
    background-color: #E5F7FF;
    border-radius: 4px;
    padding: 0; 
    text-align: center;
    /*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    margin-bottom: 30px;
}

.mission-box {
    margin-right: 40px;
}

.vision-box {
    margin-left: 40px;
}

.mission-vision-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    padding: 0;
}

.box-heading {
    font-size: 24px;
    color: #15325A;
    margin-top: 40px;
}

.box-paragraph {
    font-size: 16px;
    line-height: 1.8;
    color: #3B3B3B;
    margin-top: 15px;
    padding: 0 60px 40px 60px;
}

/* Horizontal Separator Line */
.separator-line {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    border: none;
    margin: 0;
    padding: 0;
}







/******************** Contact Page ********************/






/******************** Footer Section ********************/
.footer-section {
    background-color: #15325A;
    color: #ffffff;
    padding: 40px 0 10px 0;
    font-size: 14px;
    position: relative;
    /*z-index: 0;*/
}

/* Footer Content as Flex Container */
.footer-content {
    display: flex;
    justify-content: space-between; /* Equal spacing between columns */
    flex-wrap: wrap; /* Columns wrap on smaller screens */
}

.footer-section .container-fluid {
    margin-top: 20px;
}

/* Footer Logo */
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.logo-initial {
    height: 50px;
    margin-right: 15px; 
}

.logo-fullname {
    height: 50px;
}

/* Company Information Section */
.company-info {
    width: 35%;
    margin-right: 80px; /* Gap between company details and link columns */
}

.company-details {
    list-style: none;
    padding: 0;
}

.company-details li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #ffffff;
}

.company-details i {
    margin-right: 20px;
    color: #D8C26C;
}

.company-details li:first-child {
    align-items: flex-start; /* Align at the top */
    padding-top: 4px;
}

.company-details li:first-child i {
    margin-top: 5px;
}

/* Footer Links Section */
.footer-links {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-header {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #D8C26C;
    margin-bottom: 40px; /* Gap between header and links */
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 20px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #D8C26C;
}

.company-links {
    width: 10%; 

}

.services-links {
    width: 20%; 
}

.support-links {
    width: 10%; 
    margin-right: 40px;
}

.footer-line {
    border-top: 1px solid rgba(255, 255, 255, 0.35);
    margin: 20px 0;
}

/* Footer Bottom Section*/
.footer-bottom {
    text-align: center;
    padding-top: 0;
}

.footer-bottom-text {
    font-size: 12px;
    text-align: left;
}




/******************** Responsive Adjustments ********************/

@media (max-width: 1245px) { 
    .overlay-half {
        width: 65%;
    }

    .overlay-content {
        padding-right: 150px;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
    }

    .company-info {
        width: 100%; 
        margin-bottom: 40px; 
    }

    .footer-links {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .company-links {
        width: 20%; 
    
    }
    
    .services-links {
        width: 35%; 
    }
    
    .support-links {
        width: 20%; 
    }
}

@media (max-width: 1024px) {
    .container-fluid {
        padding-left: 40px; 
        padding-right: 40px; 
    }

    .about-content-section .row {
        flex-direction: column; /* Stack content vertically */
    }

    .about-content-section .col-md-6 {
        width: 100%; 
    }

    .about-img {
        height: auto;
    }

    .section-header {
        width: 100%;
    }

    .section-paragraph {
        max-width: 100%;
    }

    .about-img {
        margin-top: 20px; 
    }

    .experience-circle {
        top: 0;
        left: 60px; 
    }

    .overlay-content {
        padding-right: 40px;
        padding-left: 40px;
    }

    .mission-box {
        margin-right: 0;
    }

    .vision-box {
        margin-left: 0;
    }

    .box-paragraph {
        padding: 0 40px 40px 40px;
    }

}

@media (max-width: 900px) {
    .overlay-half {
        width: 100%;
    } 
}

@media (max-width: 768px) {
    .experience-circle {
        width: 120px;
        height: 120px;
        left: 40px;
    
    }

    .years-text {
        font-size: 36px;
    }

    .years-subtext {
        font-size: 12px;
        width: 50%;
    }
}

